<% if @cart %>
	<%= hidden_div_if(@cart.empty?, id: 'cart') do %>
		<%= render @cart %>
	<% end %>
<% end %>
<ul>
	<li><a href="http://www...">Home</a></li>
	<li><a href="http://www.../faq">Questions</a></li>
	<li><a href="http://www.../news">News</a></li>
	<li><a href="http://www.../contact">Contact</a></li>
</ul>
		
<% if session[:user_id] %>
<ul>
	<li><%= link_to 'Orders', orders_path %></li>
	<li><%= link_to 'Products', products_path %></li>
	<li><%= link_to 'Users', users_path %></li>
</ul>
<%= button_to 'Logout', logout_path, method: :delete %>
<% end %>